/.phpunit.cache

/public/build
/public/hot
/public/storage
/storage/*.key

.env.backup
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
/package-lock.json
yarn-error.log
yarn.lock
package-lock.log
/.fleet
/.idea
/.vscode

/public/css
/public/js
/public/mix-manifest.json
# But not these files...
#!/public/assets/*
#/public/assets/js
#/public/assets/css
#/public/assets/vendor

/public/roboflow
/public/uploaded
/public/sensors
/public/photos

/composer.lock
composer.lock

/node_modules
/vendor
.env
#.env.production
